
footer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer.small {
  padding-top: 5px;
  padding-bottom: 5px;
}
footer p{
  color: #cbcbcb;
  margin: auto;
}
footer a {
  color: #cbcbcb;
  text-decoration: none;
}

.hidden-sm-and-down {
  font-size: 90%;
}